* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu{
    position: relative;
    overflow: hidden;
    z-index: 5;
    background-image: url(Images/bg_opc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 13%;
    align-items: center;
}


.logo{
    top: 0px;
}

.titleGrammar {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.column h5{
    color: white;
}

.column h3{
    text-align: center;
}

.column:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    width: 30%;
    /* border: 2px solid red; */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 20px;
}
  
.column:nth-child(2) {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 20px;
}
  

.column:nth-child(3) {
    width: 20%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadroRespuesta{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 200px;
}

#respuesta{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    gap: 15px;
    justify-content: center;
}
.paypalimg{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nequiimg{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nequiimg img{
    width: 60%;

}
.nequiinfo img{
    width: 50%;
    padding-top: 10px;
}
.paypalinfo img{
    width: 50%;
    padding-top: 10px;
    /* border: 1px solid black; */
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}
.nequiinfo p{
    font-size: 18px;
    font-weight: 600;
}
.paypalinfo p{
    font-size: 18px;
    font-weight: 600;
}
.paypalimg img{
    width: 60%;

}
.paypalinfo{
    width: 100%;
    /* border: 2px solid black; */
    height: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #dad7cd;
}
.nequiinfo{
    width: 100%;
    /* border: 2px solid black; */
    height: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #dad7cd;
}

.paymentMethod{
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.payment-options{
    display: flex;
    /* border: 2px solid green; */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.payment-options button{
    text-decoration: none;
    background-color: #219EBC;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    font-family: sans-serif;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
    line-height: 1.5;  
    font-weight: 600;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.payment-options button:hover{
    transform: scale(1.1); 
}
.contributiondiv{
    border: 2px solid #FB8500;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    height: 90%;
}

.cuadropaypal{
    width: 50%;
    height: 400px;
    background-color: #8ECAE6;
    display: none;
    border-radius: 20px;
}

.cuadronequi{
    width: 50%;
    height: 400px;
    background-color: #ce68fd;
    display: none;
    border-radius: 20px;
}

.contributionText{
    padding: 40px;
    font-size: 17px;
    font-family: "Arimo", sans-serif;
    line-height: 1.8;
    font-weight: 500;  
}

.Advertisement {
    padding: 20px;
    background-color: #F1F1F1;
    width: 90%;
    height: 90%;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

footer{
    background-color: black;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
    color: white;
    margin-top: auto;
}

.left-section,
.right-section {
    display: flex;
    overflow: hidden;
    width: 300px;
}
.left-section{
    width: 320px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.left-section img,
.right-section img {
    max-width: 100%; /* Asegura que las imágenes no se desborden del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin-right: 10px; /* Espacio entre las imágenes */
}

.left-section p {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.left-section p:hover{
    transform: scale(1.2);
}


@media(max-width:990px) {
    *{
        overflow: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .column:nth-child(1) {
        align-items: center;
        /* border: 2px solid green; */
        width: 100%;
        gap: 20px;
    }
      
    .column:nth-child(2) {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* border: 2px solid blue; */
    }

    .column:nth-child(3) {
        display: none;
    }

    .boxexercises{
        width: 190px;
        height: 200px;
    }
    .boxexercisesmodule{
        margin-top: 0;
    }

    .titleGrammar{
        text-align: center;
    }

    .column h3{
        text-align: center;
    }

    .menu{ 
        overflow: visible;
    }
}