<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn English</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/contact.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
</head>
<body>
    <div class="menu" style="height: 100px;">
        <a href="home.html" class="logo-link">
            <img src="styles/Images/logo.png" class="logo" alt="logo">
        </a>
        <input type="checkbox" id="menu" />
        <label style="overflow: hidden;" for="menu">
            <img src="styles/Images/menu.png" class="menu-icono" alt="">
        </label>
        <nav class="navbar">
            <ul>
                <li style="overflow: hidden;"><a href="privacyPolicy.html">Privacy policy</a></li>
                <li style="overflow: hidden;"><a href="contact.html">Contact</a></li>
                <li style="overflow: hidden;"><a href="contribution.html">Contribution</a></li>
                <li style="overflow: hidden;"><a href="aboutme.html">About me</a></li>
                <li style="overflow: hidden;"><a href="home.html">Home</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <h2 class="titleGrammar">Contact me</h2>
        <div class="container">
            <div class="column">
                
                <section class="contact">
                    <div class="u-wrapper">
                      <div class="contact-content">
                
                        <form id="form" action="" class="form">
                    
                          <label for="name">Full name <span>*</span></label>
                          <input name="name" required type="text" id="name" placeholder="Juan">
                          <label for="email">E-mail <span>*</span></label>
                          <input name="email" type="text" id="email" required placeholder="juan@gmail.com">
                          <label for="message">Messaje</label>
                          <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
                          <button type="submit" id="send" class="btn primary full">Send</button>
                        </form>
                        <a href="mailto:nico.mejia.2004@gmail.com" id="trucazo"></a>
                      </div>
                    </div>
                  </section>
                  
                  <script>
                    const $form = document.querySelector('#form')
                    const $buttonMailto = document.querySelector('#trucazo')
                
                    $form.addEventListener('submit', handleSubmit)
                
                    function handleSubmit(event) {
                      event.preventDefault()
                      const form = new FormData(this)
                      $buttonMailto.setAttribute('href', `mailto:nico.mejia.2004@gmail.com?subject=Name: ${form.get('name')} | E-mail: ${form.get('email')}&body=${form.get('message')}`)
                      $buttonMailto.click()
                    }
                  </script> 
                
            </div>
           
            <div class="column">
                <div class="Advertisement"><strong>Advertisements</strong><br><br>This space is reserved for future Google AdSense advertisements.</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="right-section">
            <a href="https://github.com/Nicodingg/LearnEnglishPage">
                <img src="styles/Images/github.png" class="menu-icono" alt="">
            </a>
            <a href="mailto:nico.mejia.2004@gmail.com">
                <img src="styles/Images/email.png" class="menu-icono" alt="">
            </a>
        </div>
        <div class="left-section">
            <a href="privacyPolicy.html" class="left-section">© 2024 Nicolás Mejía. All rights reserved.</a>
            <style>
                .left-section{
                    width: 380px;
                }
                .left-section a {
                    font-family:  "Arimo", sans-serif;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    transition: transform 0.3s ease;
                    height: auto;
                    margin-right: 10px;
                }

                .left-section a:hover {
                    transform: scale(1.2);
                }
            </style>
        </div>
    </footer
</body>

</html>