* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu{
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-image: url(Images/bg_opc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 13%;
    align-items: center;
}


.logo{
    top: 0px;
}

.titleGrammar {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column h5{
    color: white;
}

.column h3{
    text-align: center;
}

.column:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    width: 55%;
    /* border: 2px solid red; */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 20px;
}
  
.column:nth-child(2) {
    width: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 20px;
}
  

.column:nth-child(3) {
    width: 20%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{   
    overflow: hidden;
    display: flex; 
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 13px;
    width: 80%;
    height: 100px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    backdrop-filter: blur(5px);
    background-color: #023047;
    cursor: pointer;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box:hover{
    transform: scale(1.1);
}


.boxexercises{
    display: flex;
    flex-direction: column;
    width: 220px;
    /* border: 2px solid blue; */
    height: 230px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.boxexercises:hover{
    transform: scale(1.1);
}

.boxexercisesmodule{
    width: 220px;
    /* border: 2px solid blue; */
    height: 230px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 105px;
}
.boxexercisesmodule:hover{
    transform: scale(1.1);
}

.exercisesparagraph {
    width: 100%;
    height: 70%;
    /* border: 2px solid blue; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.exercisestitles{
    display: flex;
    width: 100%;
    /* border: 2px solid green; */
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FB8500;
    justify-content: center;
    align-items: center;
}

.exercisestitlesmodule{
    display: flex;
    width: 100%;
    /* border: 2px solid green; */
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #219EBC;
    justify-content: center;
    align-items: center;
}

.Advertisement {
    padding: 20px;
    background-color: #F1F1F1;
    width: 90%;
    height: 90%;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

footer{
    background-color: black;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
    color: white;
    margin-top: auto;
}

.left-section,
.right-section {
    display: flex;
    overflow: hidden;
    width: 300px;
}
.left-section{
    width: 320px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.left-section img,
.right-section img {
    max-width: 100%; /* Asegura que las imágenes no se desborden del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin-right: 10px; /* Espacio entre las imágenes */
}

.left-section p {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.left-section p:hover{
    transform: scale(1.2);
}


@media(max-width:990px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .column:nth-child(1) {
        align-items: center;
        /* border: 2px solid green; */
        width: 100%;
        gap: 20px;
    }
      
    .column:nth-child(2) {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* border: 2px solid blue; */
    }

    .column:nth-child(3) {
        display: none;
    }

    .boxexercises{
        width: 190px;
        height: 200px;
    }
    .boxexercisesmodule{
        margin-top: 0;
    }

    .titleGrammar{
        text-align: center;
    }

    .column h3{
        text-align: center;
    }

    .menu{ 
        overflow: visible;
    }
}