* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
}
body {
    display: flex;
    flex-direction: column;
}

.boxexercises{
    display: flex;
    flex-direction: column;
    width: 27%;
    /* border: 2px solid blue; */
    height: 30vh;
    border-radius: 30px;
    background-color: #D9D9D9;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.boxexercises:hover{
    transform: scale(1.1);
}

.exercisestitles{
    /* border: 1px solid red; */
    height: 50%;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
   
}

.exercisestitles img{
    width: 100%;
    height: auto;   
}

.exercisesparagraph{
    overflow: hidden;
    height: 35%;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
    color: black;
    padding-inline:8% ;
    align-items: center;
    align-content: center;
}

.exercisesparagraph p{
    font-size: 2.5vh;
    font-weight: 500;
    overflow: hidden;
}


.modulediv{
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
    background-color: #caf0f8;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module2div{
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
    background-color: #90e0ef;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module3div{
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
    background-color: #00b4d8;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module4div{
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
    background-color: #0077b6;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.module5div{
    height: 15%;
    width: 100%;
    /* border: 2px solid green; */
    background-color: #03045e;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.module5div p{
    color: white;
    font-size: 17px;
    font-weight: 400; 
}
.module4div p{
    font-size: 17px;
    font-weight: 400; 
}
.module3div p{
    font-size: 17px;
    font-weight: 400;
}

.module2div p{
    font-size: 17px;
    font-weight: 400;
}

.modulediv p{
    font-size: 17px;
    font-weight: 400;
}

.menu{
    position: relative;
    overflow: hidden;
    z-index: 5;
    background-image: url(Images/bg_opc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 13%;
    align-items: center;
}



.logo{
    top: 0px;
}

.titleGrammar {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column h5{
    color: white;
}

.column h3{
    text-align: center;
}


.modules{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}


.column:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    width: 50%;
    /* border: 2px solid red; */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
  
  
.column:nth-child(2) {
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid blue; */
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 80px;
}
  
.column:nth-child(3) {
    width: 20%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{   
    overflow: hidden;
    display: flex; 
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40vh;
    height: 14vh;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    backdrop-filter: blur(5px);
    background-color: #8ECAE6;
    cursor: pointer;
    flex-direction: column;
    /* margin-bottom: 15px;
    margin-top: 105px */
}

.box h5{
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
    height: 100%;
    width: 65%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2.5vh;
}

.box:hover{
    transform: scale(1.1);
}

.Advertisement {
    padding: 20px;
    background-color: #F1F1F1;
    width: 90%;
    height: 99%;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

footer{
    background-color: black;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
    color: white;
    margin-top: auto;
}

.left-section,
.right-section {
    display: flex;
    overflow: hidden;
    width: 300px;
}
.left-section{
    width: 320px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.left-section img,
.right-section img {
    max-width: 100%; /* Asegura que las imágenes no se desborden del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin-right: 10px; /* Espacio entre las imágenes */
}

.left-section p {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.left-section p:hover{
    transform: scale(1.2);
}



@media(max-width:990px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .column:nth-child(1) {
        align-items: center;
        /* border: 2px solid green; */
        width: 100%;
        gap: 10px;
    }
    .modules{
        display: flex;
        gap: 20px;
    }
      
    .column:nth-child(2) {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* border: 2px solid blue; */
        padding-top: 0px;
    }

    .column:nth-child(3) {
        display: none;
    }

    .titleGrammar{
        text-align: center;
    }

    .column h3{
        text-align: center;
    }

    .menu{ 
        overflow: visible;
    }
    
    .boxexercises{
        display: flex;
        flex-direction: column;
        width: 170px;
        border: 0.5px solid blue;
        height: 220px; 
        border-radius: 30px;
        background-color: #D9D9D9;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .exercisesparagraph p{
        font-size: 1.8vh;
        font-weight: 500;
        overflow: hidden;
        padding: 10px;

    }
    
}