* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
}


.right-section a{
    overflow: hidden;
}

.left-section a {
    font-family:  "Arimo", sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
    height: auto;
    margin-right: 10px;
}

.left-section a:hover {
transform: scale(1.2);
}

.logo {
    color: #ffffff;
    width: 15vh;
    height: auto;
    left: 2%;
    top: 1%;
    justify-content:flex-start;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.2);
}
.menu {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}
#menu {
    display: none;
}
.menu .navbar ul li {
    justify-content:flex-end;
    float: right;
}

.menu-icono {
    width: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu label {
    cursor: pointer;
    display: none;
}

.menu-icono:hover{
    transform: scale(1.3);
}
    
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    justify-content: flex-end;
    transition: transform 0.3s ease;
}
    
.menu .navbar ul li a:hover {
    color: #8ECAE6;
    transform: scale(1.2);
}

h1{
    font-size: 80px;
    font-family: "Arimo", sans-serif;
}

h2{
    font-size: 60px;
    font-family: "Arimo", sans-serif;
}

h3{
    font-size: 50px;
    font-family: "Arimo", sans-serif;
}
h4{
    font-size: 40px;
    font-family: "Arimo", sans-serif;
}
h5{
    font-size: 30px;
    font-family: "Arimo", sans-serif;
}
    
    
p{
    font-size: 15px;
    font-family: "Arimo", sans-serif;
    line-height: 1.5;  
    text-decoration: none;
    font-weight: 400;
}

a{
    font-family: "Arimo", sans-serif;
}


@media(max-width:990px) {

    @media(max-width:500px) {
       
    }

    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3F3F3F48;
        backdrop-filter: blur(10px);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    .header {
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }
    .menu {
        padding: 30px;
        z-index: 100;
    }
    footer{
        position: relative;
    }
    
}

